# React router
.react-router/

# Build artifacts
build/
dist/
wheels/
_version.py

# Installed dependencies
node_modules/
.venv/

# Caches
.task/
.*_cache/
__pycache__/
*.py[oc]

# Instance data
api/instance/

# Lock files
uv.lock
pnpm-lock.yaml
