@layer reset {
    /*
        Josh's Custom CSS Reset
        https://www.joshwcomeau.com/css/custom-css-reset/
    */

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        line-height: calc(1em + 0.5rem);
    }

    body {
        -webkit-font-smoothing: antialiased;
    }

    img,
    picture,
    video,
    canvas,
    svg {
        display: block;
        max-width: 100%;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        overflow-wrap: break-word;
    }

    p {
        text-wrap: pretty;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-wrap: balance;
    }

    #root,
    #__next {
        isolation: isolate;
    }
}

@layer theme {
    :root {
        --palette-slate-0: #ffffff;
        --palette-slate-50: #f8fafc;
        --palette-slate-100: #f1f5f9;
        --palette-slate-200: #e2e8f0;
        --palette-slate-300: #cbd5e1;
        --palette-slate-400: #94a3b8;
        --palette-slate-500: #64748b;
        --palette-slate-600: #475569;
        --palette-slate-700: #334155;
        --palette-slate-800: #1e293b;
        --palette-slate-900: #0f172a;
        --palette-slate-950: #020617;

        --palette-green-50: oklch(0.982 0.018 155.826);
        --palette-green-100: oklch(0.962 0.044 156.743);
        --palette-green-200: oklch(0.925 0.084 155.995);
        --palette-green-300: oklch(0.871 0.15 154.449);
        --palette-green-400: oklch(0.792 0.209 151.711);
        --palette-green-500: oklch(0.723 0.219 149.579);
        --palette-green-600: oklch(0.627 0.194 149.214);
        --palette-green-700: oklch(0.527 0.154 150.069);
        --palette-green-800: oklch(0.448 0.119 151.328);
        --palette-green-900: oklch(0.393 0.095 152.535);
        --palette-green-950: oklch(0.266 0.065 152.934);

        --palette-red-50: #FDF2F2;
        --palette-red-100: #FDE8E8;
        --palette-red-200: #FBD5D5;
        --palette-red-300: #F8B4B4;
        --palette-red-400: #F98080;
        --palette-red-500: #F05252;
        --palette-red-600: #E02424;
        --palette-red-700: #C81E1E;
        --palette-red-800: #9B1C1C;
        --palette-red-900: #771D1D;

        --theme-radius: 8px;

        --theme-color-bg: var(--palette-slate-0);
        --theme-color-bg-alt: var(--palette-slate-100);
        --theme-color-bg-alt-2: var(--palette-slate-200);
        --theme-color-fg: var(--palette-slate-900);
        --theme-color-fg-alt: var(--palette-slate-600);
        --theme-color-fg-alt-2: var(--palette-slate-400);
        --theme-color-primary: var(--palette-green-500);
        --theme-color-primary-alt: var(--palette-green-700);
        --theme-color-primary-alt-2: var(--palette-green-800);
        --theme-color-primary-select: var(--theme-color-bg);
        --theme-color-danger: var(--palette-red-500);
        --theme-color-danger-alt: var(--palette-red-700);
        --theme-color-danger-alt-2: var(--palette-red-800);
        --theme-color-danger-select: var(--theme-color-bg);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --theme-color-bg: var(--palette-slate-950);
            --theme-color-bg-alt: var(--palette-slate-900);
            --theme-color-bg-alt-2: var(--palette-slate-800);
            --theme-color-fg: var(--palette-slate-200);
            --theme-color-fg-alt: var(--palette-slate-400);
            --theme-color-fg-alt-2: var(--palette-slate-600);
            --theme-color-primary-select: var(--theme-color-fg);
        }
    }
}

body {
    color: var(--theme-color-fg);
    background-color: var(--theme-color-bg);
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button,
.button {
    cursor: pointer;
    border-radius: var(--theme-radius);
    padding: 0.25rem 0.5rem;
    text-decoration: none;
    display: block;
    height: fit-content;

    color: var(--theme-color-fg-alt);
    border: 1px solid var(--theme-color-fg-alt-2);
    background-color: var(--theme-color-bg-alt);
    outline: none;

    &:hover,
    &:focus-visible {
        border-color: var(--theme-color-fg-alt);
        background-color: var(--theme-color-bg-alt-2);
    }

    &.button-primary {
        color: var(--theme-color-bg-alt-2);
        border-color: var(--theme-color-primary-alt);
        background-color: var(--theme-color-primary);

        &:hover,
        &:focus-visible {
            color: var(--theme-color-primary-select);
            border-color: var(--theme-color-primary);
            background-color: var(--theme-color-primary-alt);
        }
    }

    &.button-danger {
        color: var(--theme-color-danger-select);
        border-color: var(--theme-color-danger-alt);
        background-color: var(--theme-color-danger);
        font-weight: bolder;

        &:hover,
        &:focus-visible {
            color: var(--theme-color-danger-select);
            border-color: var(--theme-color-danger);
            background-color: var(--theme-color-danger-alt);
        }
    }
}

input {
    border-radius: var(--theme-radius);
    background-color: var(--theme-color-bg-alt);
    color: var(--theme-color-fg);

    border: 1px solid var(--theme-color-fg-alt-2);

    outline: none;
    padding: 0.5rem;

    &:focus-visible {
        background-color: var(--theme-color-bg-alt-2);
    }
}

label {
    color: var(--theme-color-fg-alt-2);

    &:focus-within {
        color: var(--theme-color-fg-alt);
    }
}

[popover] {
    margin: auto 1rem;
    padding: 1rem;
    width: calc(100% - 2rem);
    
    flex-direction: column;
    gap: 1rem;

    background-color: var(--theme-color-bg-alt);
    border: 1px solid var(--theme-color-fg-alt-2);
    border-radius: var(--theme-radius);
    color: var(--theme-color-fg);

    &:popover-open {
        display: flex;
    }
    
    &::backdrop {
        background-color: rgb(0, 0, 0, 0.75);
    }
    
    >.popover-title {
        font-size: 1rem;
        line-height: 1;
        text-align: center;
    }

    >.popover-content {
        width: 100%;
        height: 100%;
    }


}

#add-post>.popover-content {
    display: flex;

    input {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex-grow: 1;
    }

    button {
        width: 2.5rem;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

#delete-post>.popover-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    padding-block: 1rem;
    gap: 0.5rem;

    input {
        width: 30%;
        font-size: 2rem;
        font-family: monospace;
        letter-spacing: 0.5rem;
        text-align: center;

        &:valid {
            border-color: var(--theme-color-danger);
        }
    }

    button {
        width: 30%;
    }

    &:not(:has(input:valid)) {
        button {
            pointer-events: none;
            background-color: var(--theme-color-fg-alt-2);
            border-color: var(--theme-color-bg-alt-2);
        }
    }
}

header {
    padding: 0.5rem;
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    align-items: center;
    justify-content: space-between;

    background-color: var(--theme-color-bg-alt);
    border-block-end: 1px solid var(--theme-color-fg-alt-2);

    a {
        display: flex;
        align-items: center;
        gap: 1rem;

        color: var(--theme-color-fg);
        text-decoration: none;

        svg {
            height: 2rem;
        }

        h1 {
            line-height: 1;
            font-weight: 500;

            @media (width < 500px) {
                display: none;
            }
        }
    }

    button {
        font-size: 1.5rem;
        height: 2rem;
        width: 3rem;
        font-weight: 950;
        line-height: 0;
    }

}

main {
    width: fit-content;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}


hr {
    width: 95%;
    margin-inline: auto;
    border: none;
    border-block-end: 1px solid var(--theme-color-fg-alt-2);

    &:is(:first-child) {
        display: none;
    }
}

article.post {
    padding: 0.5rem;
    width: 50rem;
    max-width: 100svw;

    display: grid;
    grid-template:
        "title      buttons" auto
        "meta       buttons" auto
        "content    content" auto
        / 1fr auto;

    >h2 {
        grid-area: title;

        font-size: 1.125rem;

        @media (width > 800px) {
            font-size: 1.5rem;
        }
    }

    >.post-buttons {
        grid-area: buttons;
        display: flex;
        gap: 0.25rem;
    }

    >.post-meta {
        grid-area: meta;

        font-size: 0.75rem;
        color: var(--theme-color-fg-alt);

        a {
            color: var(--theme-color-fg);
            text-decoration: none;

            &:hover {
                text-decoration: solid underline;
            }
        }

        time {
            user-select: none;
        }
    }

    >.post-content {
        margin-block-start: 0.5rem;
        grid-area: content;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .post-media,
        input {
            width: 100%;
        }
    }

    &.post-listed {
        >.post-meta>*:not(:first-child) {
            &::before {
                content: "| ";
                color: var(--theme-color-fg-alt-2);
            }
        }

        &:hover {
            background-color: var(--theme-color-bg-alt);
            border-radius: var(--theme-radius);
            box-shadow: 0 0 0 1px var(--theme-color-bg-alt-2);
        }
    }

    /* Presence of `blur-bg` element indicates that media will be resized to a nicer aspect ratio */
    &:has(>.post-content>.blur-bg) {
        >.post-content {
            min-height: 10rem;
            height: 25rem;
            overflow: hidden;
            position: relative;

            .blur-bg {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;

                background-color: black;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transform: scale(1.8);
                filter: blur(15px);
            }

            .post-media {
                position: absolute;
                inset: 0;
                width: auto;
                max-width: 100%;
                max-height: 100%;
                margin: auto;
            }
        }
    }

    /* Presence of <a> inside <h2> title indicates whole post should be clickable */
    &:has(>h2>a) {
        /* Set <article> as the containing block */
        position: relative;

        /* Fix link styling */
        >h2>a {
            color: inherit;
            text-decoration: none;
        }

        /* Make link expand to size of post */
        >h2>a::after {
            content: "";
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        /* Allow interactive elements to be clickable above main post link */
        >.post-meta a,
        >.post-meta time {
            position: relative;
            z-index: 50;
        }
    }
}