<!doctype html>

<html lang="en">
    <head>
        {% if config["DEBUG"] %}
            <script type="module">
                import RefreshRuntime from 'http://localhost:3000/@react-refresh'
                RefreshRuntime.injectIntoGlobalHook(window)
                window.$RefreshReg$ = () => {}
                window.$RefreshSig$ = () => (type) => type
                window.__vite_plugin_react_preamble_installed__ = true
            </script>
        {% endif %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>archedbrows</title>
    </head>

    <body>
        <header>
            <a href="/">
                {% include "_logo.svg.jinja" %}
                <h1>
                    archedbrows
                </h1>
            </a>
            <button type="button" class="button-primary" popovertarget="add-post">
                ＋
            </button>
        </header>

        <div id="add-post" popover>
            <h2 class="popover-title">
                add post
            </h2>
            <form class="popover-content" method="post" action="/add">
                <input name="url" placeholder="https://example.com/posts/abc123">
                <button class="button-primary">
                    ⮕
                </button>
            </form>
        </div>

        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>