{% macro media(media_object) %}
    {% set media_url = url_for('show_media', media_id=media_object.id) %}

    {% if media_object.type == "image" %}
        <img class="post-media" src="{{ media_url }}">

    {% elif media_object.type == "video" %}
        <video class="post-media" src="{{ media_url }}" controls>
            <p>Couldn't embed the video {{ media_object.filename }}.</p>
            <a href="{{ media_url }}">
                Download
            </a>
        </video>

    {% elif media_object.type == "audio" %}
        <audio class="post-media" src="{{ media_url }}">
            <p>Couldn't embed the audio {{ media_object.filename }}.</p>
            <a href="{{ media_url }}">
                Download
            </a>
        </audio>

    {% else %}
        <a href="{{ media_url }}">
            Download {{ media_object.filename }} (type: {{ media_object.mime_type }})
        </a>

    {% endif %}
{% endmacro %}