{% extends "_base.html.jinja" %}
{% from "_media.html.jinja" import media %}

{% block content %}
    {% for post in posts %}
    <hr>
        <article class="listed-post">
            <div class="meta">
                <span class="user">{{ post.author }}</span>
                <time class="time" title="{{ post.time }}" datetime="{{ post.time }}">{{ post.time_ago }}</time>
                <a class="source" href="{{ post.source_url }}" target="_blank">{{ post.source }}</a>
            </div>
            <h2>
                <a href="{{ url_for('show_post', post_id=post.id) }}">
                    {{ post.title }}
                </a>
            </h2>
            <div class="content">
                {% if post.media %}
                    {{ media(post.media[0]) }}
                {% endif %}
                {% if post.text %}
                    <p>
                        {{ post.text | striptags | truncate }}
                    </p>
                {% endif %}
            </div>
        </article>
    {% endfor %}
{% endblock content %}