{% extends "_base.html.jinja" %}

{% block content %}
    {% for post in posts %}
        <article>
            <div class="meta">
                <span class="user">{{ post.author }}</span>
                <time class="time" datetime="{{ post.time }}">{{ post.time_ago }}</time>
                <span class="source">{{ post.source }}</span>
            </div>
            <h2>{{ post.title }}</h2>
            <div class="content">
                <img src="{{ url_for('show_media', media_id=post.media[0].id) }}">
            </div>
        </article>
    {% endfor %}
{% endblock content %}