{% extends "_base.html.jinja" %}
{% from "_media.html.jinja" import media %}

{% block content %}
    <article class="post post-detail">
        <h2>
            {{ post.title }}
        </h2>
        <div class="post-buttons">
            <a class="button" href="{{ url_for('edit_post', post_id=post.id) }}">
                Edit
            </a>
        </div>
        <div class="post-meta">
            posted by <a class="post-author" href="#">{{ post.author }}</a>
            <time title="{{ post.time_created }}" datetime="{{ post.time_created }}">{{ post.time_ago_created }}</time>,
            archived from <a class="post-source" href="{{ post.source_url }}" target="_blank">{{ post.source }}</a>
            <time title="{{ post.time_added }}" datetime="{{ post.time_added }}">{{ post.time_ago_added }}</time>
        </div>
        <div class="post-content">
            {% for media_object in post.media %}
                {{ media(media_object) }}
            {% endfor %}
            {% if post.text %}
                <p>
                    {{ post.text | safe }}
                </p>
            {% endif %}
        </div>
    </article>
{% endblock content %}