{% extends "_base.html.jinja" %}
{% from "_media.html.jinja" import media %}

{% block content %}
    <article class="single-post">
        <div class="meta">
            <span class="user">{{ post.author }}</span>
            <time class="time" title="{{ post.time_created }}" datetime="{{ post.time_created }}">{{ post.time_ago }}</time>
            <a class="source" href="{{ post.source_url }}" target="_blank">{{ post.source }}</a>
        </div>
        <h2>
            {{ post.title }}
        </h2>
        <div class="content">
            {% for media_object in post.media %}
                {{ media(media_object) }}
            {% endfor %}
            {% if post.text %}
                <p>
                    {{ post.text | safe }}
                </p>
            {% endif %}
        </div>
    </article>
{% endblock content %}