{% extends "_base.html.jinja" %}

{% block content %}
    <article class="single-post">
        <div class="meta">
            <span class="user">{{ post.author }}</span>
            <time class="time" title="{{ post.time }}" datetime="{{ post.time }}">{{ post.time_ago }}</time>
            <a class="source" href="{{ post.source_url }}" target="_blank">{{ post.source }}</a>
        </div>
        <h2>
            {{ post.title }}
        </h2>
        <div class="content">
            <img src="{{ url_for('show_media', media_id=post.media[0].id) }}">
        </div>
    </article>
{% endblock content %}